{% load static %}
<!DOCTYPE html>
<html>
<head><title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password.css' %}"></head>
<body>
<div class="container">
    <h2>Forgot Password</h2>
    {% for message in messages %}
        <p class="error">{{ message }}</p>
    {% endfor %}
    <form method="post">{% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <button type="submit">Send OTP</button>
    </form>
</div>
</body>
</html>
